body {
    margin: auto;
    width: 353;
}

#underline {
    text-decoration: underline;
}

#highlight {
    background-color: orange;
}

#red {
    color: red;
    font-weight: bold;
}